<%- include("./partials/header");-%>
<main class="wrapper">
  <div class="page-title">
    <h1><%= title %></h1>
  </div>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, nulla unde?
    Quas, numquam tenetur laudantium tempore voluptas eligendi sapiente alias.
  </p>
  <div class="post">
    <% for(p of post){ %>
    <div class="post-content">
      <h1><%= p.title %></h1>
      <p>
        <%= p.postbody.substring(1,100) %>
        <a href="/posts/<%= p.title %>">Read More</a>
      </p>
    </div>

    <% } %>
  </div>
</main>

<%- include("./partials/footer");-%>
