<%- include("./partials/header");-%>
<main class="main">
  <div class="page-title">
    <h1><%= title %></h1>
  </div>
  <% for(p of blog){ %>
  <div class="blog">
    <div class="content">
      <h2 class="title">
        <a href=""> <%= p.title %> </a>
      </h2>
      <p>
        <%= p.post.substring(1,150) %> <br /><a
          href="/posts/<%= p.title %>"
          class="more"
          >Read more</a
        >
      </p>
    </div>
    <div class="meta">
      <div class="date">
        <span>Publish on <strong> <%= p.time%> </strong> </span>
      </div>
    </div>
  </div>
  <% } %>
</main>

<%- include("./partials/footer");-%>
