<%- include("./partials/header");-%>
<main class="main">
  <div class="content">
    <h2 class="title">
      <a href=""> <%= fpost.title %> </a>
    </h2>
    <p><%= fpost.post%></p>
  </div>
  <div class="meta">
    <div class="date">
      <span>Publish on <strong> <%= fpost.time%> </strong> </span>
    </div>
  </div>
</main>
<%- include("./partials/footer");-%>
